# =========================
# macOS system files
# =========================
.DS_Store
.AppleDouble
.LSOverride

# =========================
# Python cache
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Conda / virtual env
# =========================
.env
.venv
venv/
env/
ENV/

conda-meta/

# =========================
# VSCode
# =========================
.vscode/

# =========================
# PyCharm
# =========================
.idea/

# =========================
# Logs
# =========================
*.log

/experiments